*.exp
*.FileListAbsolute.txt
*.idb
*.ilk
*.intermediate.manifest
*.lib
*.ncb
*.obj
*.pch
*.pdb
*.suo
*.user

BuildLog.htm
Thumbs.db

/debug/*
/Help/Output/*
/NppSharp/Debug/*.res
/NppSharp/Debug/*.dep
/NppSharp/Release/*.res
/NppSharp/Release/*.dep
/NppSharpCS/bin/*
/NppSharpCS/obj/*
/release/*
/Setup/Bin/*
/Setup/Redist/*
/Setup/Output/*