*.exp
*.FileListAbsolute.txt
*.idb
*.ilk
*.intermediate.manifest
*.lib
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.sdf
*.shfbproj_*
*.suo
*.user

BuildLog.htm
Thumbs.db

/debug/*
/Help/Output/*
/NppSharp/Debug/*
/NppSharp/Release/*
/NppSharpCS/bin/*
/NppSharpCS/obj/*
/release/*
/Setup/Bin/*
/Setup/Redist/*
/Setup/Output/*
/ipch/*
