<?xml version="1.0" encoding="utf-8" ?>
<!-- This is an example code snippets file -->
<examples>
  <item id="SimpleTest#Code">
  	<sampleCode language="CSharp">
using System;
using System.Collections.Generic;
using System.Text;
using NppSharp;

namespace ScriptEdit
{
	public class SimpleTest : NppScript
	{
		public void Test()
		{
			Output.Show();
			Output.WriteLine("Hello");
		}
	}
}
  	</sampleCode>
  </item>
</examples>

